<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>

  {% else %}
    <a href="/register">Luo tunnus</a> |

    <a href="/login">Kirjaudu sisään</a>
  {% endif %}

  <p><a href="/users">Käyttäjät</a></p>

  <h1>Pörssi</h1>

  <h3>Haku</h3>
  <form action="/search" method="get">
      <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
      </p>
      <input type="submit" value="Hae" />
  </form>

  <hr />
  {% for company in companies %}
  <p>
     {{ company.name }}. Hinta  {{ company.last_price }} €
  </p>
  <p>
     Listaaja: {{ company.owner }}. Osakkeita: {{ company.stock_amount }}
  </p>
  <hr />
  {% endfor %}

  {% if session.username %}

  <h3>Listaa uusi yritys</h3>

  <form action="/new_listing" method="post">
    <p>
      Yrityksen nimi:<br />
      <input type="text" name="company_name" />
    </p>
    <p>
      Osakkeiden määrä:<br />
      <input type="number" name="stock_amount" />
    </p>
    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}


</body>

</html>
