<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }} &nbsp &nbsp
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
    <a href="/register">Luo tunnus</a> |
    <a href="/login">Kirjaudu sisään</a>
  {% endif %}

  <p><a href="/users">Käyttäjät</a> &nbsp | &nbsp <a href="/orders">Osto- ja myyntitarjoukset</a></p>

  <h1>Pörssi</h1>

  <h3>Haku</h3>
  <form action="/search" method="get">
      <p>
      <label for="query">Hakusana</label>: <br />
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
      </p>
      <input type="submit" value="Hae" />
  </form>

  {% for message in get_flashed_messages() %}
  <p>
  <div class="info">
    <b style='color:red;'> {{ message }} </b>
  </div>
  </p>
  {% endfor %}

  <hr />
  {% for company in companies %}
  <p> <b>{{ company.name }}</b> </p>
  <p>  Korkein ostotarjous:  {{ company.max }} € </p>
  <p>  Matalin myyntitarjous:  {{ company.min }} € </p>
  
  <p>
    Toimiala: {{ company.industry }} &nbsp | &nbsp Listaaja: {{ company.owner }} &nbsp | &nbsp Osakkeita: {{ company.stock_amount }}
  </p>
  {% if session.username %}
  <p>
  <form action="/new_buy_order/{{ company.id }}" method="post">
    <label for="stock_buy_amount">Määrä</label>:
    <input type="number" name="stock_buy_amount" size="5" min="1" required/> &nbsp &nbsp
    <label for="stock_buy_price">Hinta</label>:
    <input type="number" name="stock_buy_price" size="5" min="1" required/> 
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Osta" />
  </form> 
  </p>
  <p>
  <form action="/new_sell_order/{{ company.id }}" method="post">
    <label for="stock_sell_amount">Määrä</label>:
    <input type="number" name="stock_sell_amount" size="5" min="1" required/> &nbsp &nbsp
    <label for="stock_sell_price">Hinta</label>:
    <input type="number" name="stock_sell_price" size="5" min="1" required/> 
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Myy" />
  </form> 
  </p>
  {% endif %}
  {% if company.owner == session.username %}
  <p>
    <a href="/edit/{{ company.id }}">Muokkaa</a> |
    <a href="/remove/{{ company.id }}">Poista</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}

  {% if session.username %}

  <h3>Listaa uusi yritys</h3>

  <form action="/new_listing" method="post">
    <p>
      <label for="company_name">Yrityksen nimi</label>: <br />
      <input type="text" name="company_name" required/>
    </p>
    <p>
      <label for="stock_amount">Osakkeiden määrä</label>: <br />
      <input type="number" name="stock_amount" min="1"/>
    </p>
    <p>
      <label for="industry">Yrityksen toimiala</label>: <br />
      <select type="text" name="industry">
        <option value="Kulutustavarat">Kulutustavara</option>
        <option value="Elintarvikkeet">Elintarvikkeet</option>
        <option value="Teollisuus">Teollisuus</option>
        <option value="Elektroniikka">Elektroniikka</option>
      </select>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}


</body>

</html>
