<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="content">
    {% if session.username %}
    <p>
      Olet kirjautunut nimellä {{ session.username }}
    </p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>
    <p>
      <a href="/">Palaa etusivulle</a>
    </p>
    {% else %}
    <form action="/login" method="post">
      <p>
        Tunnus: <br />
        <input type="text" name="username" required/>
      </p>
      <p>
        Salasana: <br />
        <input type="password" name="password" required/>
      </p>
      <input type="submit" value="Kirjaudu" />
    </form>

    {% for message in get_flashed_messages() %}
    <p>
    <div class="info">
      {{ message }}
    </div>
    </p>
    {% endfor %}

    <p>
      <a href="/">Palaa etusivulle</a>
    </p>
    {% endif %}
  </div>
</body>

</html>