<!DOCTYPE html>
<html>

<head>
  <title>Poista yritys</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="content">
    <p>
      Haluatko varmasti poistaa yrityksen listauksen?
    </p>
    <form action="/remove/{{ company.id }}" method="post">
      <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" name="continue" value="Jatka" />
        <input type="submit" name="cancel" value="Peruuta" />
      </p>
    </form>
  </div>
</body>